.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: var(--layer-1);
    padding-block: 32px;
    background-color: var(--bg-color);
}

.header--fixed {
    box-shadow: 0 0 20px 0 var(--shadow-color);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (width > 768px) {
.header__logo {
    margin-right: clamp(25px, -11.585rem + 21.21vw, 120px);
}

.header__menu {
    flex-grow: 1;
}
}

@media (width <= 768px) {
    .header__menu {
        position: fixed;
        top: 0;
        right: -100vw;
        bottom: 0;
        z-index: var(--layer-2);
        min-width: 297px;
        padding-top: 144px;
        padding-right: 15px;
        background-color: var(--bg-color);
        box-shadow: -2px 0 20px 0 var(--shadow-color);
        opacity: 0;
        visibility: hidden;
        transition: right var(--transition-time), opacity var(--transition-time), visibility var(--transition-time);
}

    .header__menu--open {
        right: 0;
        opacity: 1;
        visibility: visible;
    }

    .header__menu .menu__list {
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
    }
}

.header__controls {
    display: flex;
    align-items: center;
}

@media (width > 992px) {
    .header__controls {
    gap: 60px;
}
}

@media (width <= 992px) {
    .header__controls {
    gap: 30px;
}
}

.header__order {
    position: relative;
    padding-bottom: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}

@media (any-hover: hover) {
    .header__order:hover::before {
    opacity: 1;
    visibility: visible;
}
}

.header__order::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 90%;
    min-height: 11px;
    transform: translate(-50%, -50%);
    background-color: var(--accent-color);
    border-radius: 50%;
    filter: blur(30px);
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transion-time), visibility var(--transion-time);
}

.header__actions {
    display: flex;
}

@media (width > 768px) {
    .header__actions {
    gap: 20px;
    }
}

@media (width <= 768px) {
    .header__actions {
    gap: 30px;
    }
}

.header__actions-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: var(--main-color);
    transition: color var(--transition-time);
}

@media (any-hover: hover) {
    .header__actions-button:hover {
    color: var(--accent-color);
    }
}

.header__actions-button:active {
    color: var(--accent-color);
}

.header__actions-icon {
    stroke: currentColor;
}
