
.footer {
    background: linear-gradient(90deg, rgba(73, 169, 255, 0.2) 0%, rgba(252, 124, 217, 0.2) 100%);
    padding-top: 60px;
    padding-bottom: 40px;
    margin-top: auto;
    text-align: center;
}

.footer__top {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #d3cbd9;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 40px;
}

.footer__nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
    transition: color 0.2s;
    text-decoration: none;
}

.footer__link:hover {
    color: #3596ed;
}

.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #858e8a;
}

@media (width <= 768px) {
  .footer__nav-list {
    flex-direction: column;
    gap: 25px;
  }
}

@media (width <= 576px) {
  .footer {
    padding-top: 40px;
  }
}

