/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "AvenirNextCyr";
  src: local("AvenirNextCyr-Medium"), local("AvenirNextCyrMedium"),
    url("../../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: local("AvenirNextCyr-demy"), local("AvenirNextCyrDemy"),
    url("../../fonts/avenirnextcyr-demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: local("AvenirNextCyr-Bold"), local("AvenirNextCyrBold"),
    url("../../fonts/AvenirNextCyr-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
