
.page {
  font-family: var(--font-family);
  color: var(--main-color);
}

.page__body {
  min-width: 375px;
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

.section {
  position: relative;
  padding-top: 104px;
  padding-bottom: 116px;
}

.section--dark-bg {
  background: var(--section-background-color-dark);
}

.section--light-bg {
  background: var(--section-background-color-light);
}

.section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;          
  background: var(--shadow-color); 
  box-shadow: var(--box-shadow);
  filter: blur(2px);     
  pointer-events: none;
}

.section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;          
  background: var(--shadow-color); 
  box-shadow:
    0 0 24px 0 rgba(0, 224, 255, 0.8),
    0 4px 15px 0 rgba(0, 224, 255, 0.4);
  filter: blur(2px);     
  pointer-events: none;
}


img {
  -o-object-fit: cover;
  object-fit: cover;
}

a:focus-visible,
button:focus-visible,
input:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 2px;
}

.logo {

}

.title {
  font-weight: 500;
  font-size: 54px;
  text-transform: uppercase;
}

.title--accent {
  color: var(--accent-color);
}

.text {
  font-size: 18px;
  font-weight: 500;
}

.text--gray {
  font-weight: 600;
  color: var(--secondary-color);
}
