
.page {
  
}

.page__body {
  min-width: 375px;
  font-family: var(--font-family);
  color: var(--main-color);
  font-weight: 500;
  overflow-x: hidden;
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section--dark-bg {
  background: var(--section-background-color-dark);
}

.section--light-bg {
  background: var(--section-background-color-light);
}

.section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;          
  background: var(--shadow-color); 
  box-shadow: var(--box-shadow);
  filter: blur(2px);     
  pointer-events: none;
}

.section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;          
  background: var(--section-separator); 
  box-shadow: var(--section-separator);
  filter: blur(2px);     
  pointer-events: none;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

a:focus-visible,
button:focus-visible,
input:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 2px;
}

.phone {
    display: flex;
    gap: 12px;
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    color: #fff;
}

.phone::before {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    background-image: url(../../icons/phone-icon.svg);
}

.title {
  font-weight: 500;
  font-size: 54px;
  text-transform: uppercase;
}

.title--accent {
  color: var(--accent-color);
}

.text--small {
  font-size: 15;
}

.text--medium {
  font-size: 16;
}

.text--large {
  font-size: 18;
}

.text--gray {
  font-weight: 600;
  color: var(--secondary-color);
}

.sign-up-button {
    margin-top: 53px;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;      
    justify-content: center;  
    color: var(--main-color);
    font-weight: 750;
    font-size: 12px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    width: 479px;
    height: 60px;
    box-shadow: 0 7px 20px -7px var(--shadow-color);
    background: var(--button-background-color);
    border-radius: 9px;
}