table {
    border-spacing: 0;
    border-collapse: collapse;
    
}

caption, th, td {
    border: 1px solid #000;
    padding: 0px 4px;
}

caption {
    border-bottom: 0;
    font-weight: bold;
}

td {
    text-align: center;
}

.weekend {
    color: red;
}