/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.AI {
  background: url(../../images/AI-background.webp), var(--section-background-color-light);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}

.AI__container {}

.AI__inner {
  position: relative;
}

.AI__content {
  position: relative;
  z-index: 2;
  max-width: 700px;
}

.AI__title {
  max-width: 700px;
  padding-bottom: 64px;
}

.AI__list {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  max-width: 700px;
}

.AI__list-item {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  gap: 12px;
  font-size: 15px;
  font-weight: 500;
  line-height: 140%;
  background: var(--translucent-gradient-background-text);
}

.AI__list-item:nth-child(2) {
  max-width: 650px;
}

.AI__list-item:nth-child(3) {
  max-width: 600px;
}

.AI__list-item:nth-child(4) {
  max-width: 510px;
}

.AI__list-item::after {
  content: "";
  position: absolute;
  width: 63px;
  height: 32px;
  background: url(../../decor/glow-ellipse.png) no-repeat center;
  left: 50px;
  top: 17px;
  z-index: 0;
}

.AI__list-icon {
  margin-top: -7px;
}

.AI__list-icon,
.AI__list-text {
  z-index: 1;
}

.AI__button {
  position: relative;
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 32px;
}

.AI__AI-img-tablet {
    display: none;
}

.AI__AI-img-mobile {
    display: none;
}


@media (width <= 992px) {
  .AI {
    background: var(--section-background-color-light);
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .AI__content {
    max-width: 100%;
  }

  .AI__AI-img-tablet {
    display: block;
  }

  .AI__button {
    display: block;
    margin: 32px auto 0;
  }

  .AI__list {
    margin-bottom: 40px;
  }
}

@media (width <= 720px) {
    .AI__AI-img-tablet {
    display: none;
  }

    .AI__AI-img-mobile {
    display: block;
  }
}

@media (max-width: 576px) {
  .AI {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .AI__title {
    padding-bottom: 32px;
  }

  .AI__list-item {
    font-size: 14px;
  }
}