.footer {
    padding-top: 40px;
    padding-bottom: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--section-background-color-light);
    z-index: 0;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__logo {
    flex-shrink: 0;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
    gap: 10px;
}

.footer__contacts-row {
    display: flex;
    gap: 32px;              
    align-items: center;
    justify-content: flex-end;
}

.footer__mail {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__mail,
.footer__phone {
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
    text-decoration: none;
}

.footer__mail::before {
    content: "";
    display: inline-block;
    align-self: center;
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    background-image: url(../../icons/letter-icon.svg);
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__socials-text {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #9fb6c0;
}

.footer__socials-link {
    display: inline-flex;
}

.footer__socials-icon {
    height: 30px;  
    width: auto;
}

.footer__bottom {
    display: flex;
    flex-direction: column;   
    gap: 8px;                 
    margin-top: 24px;
}

.footer__copyright {
    position: relative;
    margin: 0;
    font-size: 10px;
    color: #9fb6c0;
    text-align: center;
    align-self: center;
    padding: 0 16px;         
}

.footer__copyright::before,
.footer__copyright::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #9fb6c0;   
    opacity: 0.5;
}

.footer__copyright::before {
    width: 50vw;            
    right: 100%;             
    margin-right: 16px;      
}

.footer__copyright::after {
    width: 50vw;
    left: 100%;
    margin-left: 16px;
}

.footer__developer {
    align-self: flex-end;     
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #9fb6c0;
}

.footer__developer img {
    height: 37px;
}