.header {
    padding-block: 32px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
}

.logo__img {
}

.header__phone {
    display: flex;
    gap: 12px;
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    color: #fff;
}

.header__phone::before {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    background-image: url(../../icons/phone-icon.svg);
    /* transform: translateX(-13px); */
}