/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.first-screen-wrapper {
  min-height: clamp(45.625rem, 38.491rem + 31.71vw, 53.75rem);
  background: url(../../images/hero-background.webp), var(--section-background-color-light);
  background-size: auto;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.hero__container {
  position: relative;     
  padding-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.hero__header,
.hero__content,
.hero__footer {
  z-index: 2;
}

.hero__header {
  max-width: 650px;
  margin-top: 50px;
}

.hero__subtitle {
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  color: var(--secondary-color);
}

.hero__title {
  padding-bottom: 18px;
  font-weight: 600;
  text-align: left;
  font-size: clamp(51px, 1.679rem + 6.71vw, 108px);
  background: var(--hero-title-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__header-text {
  max-width: 580px;
  font-weight: 500;
  font-size: 18px;
  text-align: left;
}

.hero__content {
  margin-top: 77px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 576px;
}

.hero__content-icon {
  max-height: 71px;
  max-width: 71px;
  position: relative;
  top: -5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
  background: var(--card-background-color);
}

.hero-content-text-wrapper {
  padding-inline: 10px;
  position: relative;
}

.hero__content-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
}

.hero__content-text {
  color: var(--secondary-accent-color);
  font-weight: 500;
  font-size: 18px;
}



.hero__consultation-link {
  position: absolute;
  top: 180px;
  left: -300px;
  -webkit-transform: translateY(-50%) rotate(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;

  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);

  z-index: 2;
}

.hero__consultation-text {
  white-space: nowrap;
}

.hero__consultation-icon {
  position: relative;
  width: 100px;
  height: 100px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  -webkit-transform: rotate(90deg);

      -ms-transform: rotate(90deg);

          transform: rotate(90deg); 
}

.hero__consultation-icon::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: var(--button-background-color);
  -webkit-box-shadow: 0 7px 20px -7px var(--shadow-color);
          box-shadow: 0 7px 20px -7px var(--shadow-color);
  z-index: -1;
  -webkit-animation: pulse 3s infinite;
          animation: pulse 3s infinite;
}

.hero__consultation-icon-img {
  position: relative;
  z-index: 1;
}

@-webkit-keyframes pulse {
  0%   { -webkit-transform: scale(1.1); transform: scale(1.1); }
  50%  { -webkit-transform: scale(1); transform: scale(1);   }
  100% { -webkit-transform: scale(1.1); transform: scale(1.1); }
}

@keyframes pulse {
  0%   { -webkit-transform: scale(1.1); transform: scale(1.1); }
  50%  { -webkit-transform: scale(1); transform: scale(1);   }
  100% { -webkit-transform: scale(1.1); transform: scale(1.1); }
}


.hero__footer {
  margin-top: auto;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__footer-button {
  margin-right: 111px;
}

.hero__footer-slider {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  color: var(--secondary-color);
  text-decoration: none;
}

.hero__footer-slider-text {
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hero__footer-slider-icon {
  position: relative;
  width: 20px;
  height: 37px;
  border: 1px solid var(--accent-color);
  border-radius: 60px;
}

.hero__footer-slider-icon::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background: var(--accent-color);
  border-radius: 100%;
  -webkit-box-shadow: 0 4px 10px 0 #4ad9ecbf;
          box-shadow: 0 4px 10px 0 #4ad9ecbf;
  -webkit-animation: moving-circle 3s infinite;
          animation: moving-circle 3s infinite;
}

@-webkit-keyframes moving-circle {
  0% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  50% {
    -webkit-transform: translate(-50%, 13px);
            transform: translate(-50%, 13px);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes moving-circle {
  0% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  50% {
    -webkit-transform: translate(-50%, 13px);
            transform: translate(-50%, 13px);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.hero__hero-img-tablet {
    display: none;
}

.hero__hero-img-mobile {
    display: none;
}

 @media (width <= 992px) {
  .first-screen-wrapper {
    background: var(--section-background-color-light);
  }

  .hero__visual {
    position: relative;
    margin-top: 32px;
  }

  .hero__consultation-link {
    top: 16px;
    right: 16px;
    left: auto;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
  }

  .hero__header {
    margin-top: 30px;
    margin-inline: auto;
  }

  .hero__content {
    margin-inline: auto;
  }

  .hero__consultation-icon {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .hero__consultation-text {
    display: none;
    overflow: hidden;
  }

  .AI__button {
    display: block;
    margin: 32px auto 0;
  }

  .hero__footer {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }

  .hero__footer-button {
    margin-inline: auto;
  }

  .hero__footer-slider {
    display: none;
  }

  .hero__hero-img-tablet {
    display: block;
}

}

@media (width <= 567px) {
    .first-screen-wrapper {
    background: var(--section-background-color-light);
  }


  .hero__subtitle {
    font-size: 16px;
  }

  .hero__header-text {
    font-size: 16px;
  }

  .hero__content-title {
    font-size: 16px;
  }

  .hero__content-text {
    font-size: 14px;
  }

  .hero__consultation-icon {
  width: 63px;
  height: 63px;
  }

  .hero__consultation-icon-img {
    width: 25px;
    height: 25px;
}

  .hero__hero-img-tablet {
    display: none;
}

.hero__hero-img-mobile {
    display: block;
}
}