/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.modal__webinar {
    width: 320px;
}

.modal-webinar__content {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.modal-webinar__title {
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    text-align: left;
}

.modal-webinar__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
}

.modal-webinar__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--secondary-accent-color);
    text-align: left;
}

.modal-buy__input-wrapper {
    position: relative;
    display: block;
    border-radius: 9px;
}

.modal-buy__input-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2.5px;
    border-radius: inherit;
    background: var(--border-color); /* или градиент, если хочешь */
    -webkit-mask:
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #000)) content-box,
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #000));
    -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.modal-buy__input {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 60px;
    padding: 0 16px;
    border-radius: inherit;
    border: none;
    background: var(--form-input-background-color);
    color: var(--main-color);
    font-size: 15px;
    line-height: 1.3;
}

.modal-buy__input::-webkit-input-placeholder {
    color: var(--secondary-color);
}

.modal-buy__input::-moz-placeholder {
    color: var(--secondary-color);
}

.modal-buy__input:-ms-input-placeholder {
    color: var(--secondary-color);
}

.modal-buy__input::-ms-input-placeholder {
    color: var(--secondary-color);
}

.modal-buy__input::placeholder {
    color: var(--secondary-color);
}

.modal-webinar__submit {
    margin-top: 8px;
    width: 100%;
    height: 60px;
}
