/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.news-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 10px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 100%;
}

.news-card__top {
  min-height: 0;
}

.news-card__bottom {
  min-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 24px;
}

.news {
  padding-top: 97px;
  padding-bottom: 50px;
}

.news__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.news__article {
  max-width: 387px;
  width: 100%;
  margin-inline: auto;
}

.news__all-link {
  padding: 25px;
  font-weight: 750;
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 9px;
  white-space: nowrap; 
}

.news__all-link--top {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.news__all-link--bottom {
  display: none;
}

.news__slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.news__slider-button {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  opacity: 0.9;
  padding: 0;
  cursor: pointer;
  z-index: 5;
  top: 25%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #08262b;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.news__slider-button--prev {
  left: 21px;
}

.news__slider-button--next {
  right: 21px;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 225, 255, 0.66)), to(#13cdc2));
  background: -o-linear-gradient(top, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
}

.news__slider-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 225, 255, 0.66)), to(#13cdc2));
  background: -o-linear-gradient(top, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
}

@media (width <= 1200px) {
  .news__article {
    max-width: 100%;
  }
}

@media (width <= 930px) {
    .news__header {
        gap: 30px;
    }
}

@media (width <= 630px) {
  .news {
    padding-top: 46px;
  }

  .news__header {
    margin-bottom: 24px;
  }

  .news__title {
    line-height: 1.2;
  }

  .news__all-link--top {
        display: none;
        visibility: hidden;
    }

    .news__all-link--bottom {
        display: block;            
        width: -webkit-max-content;            
        width: -moz-max-content;            
        width: max-content;            
        padding: 10px 30px;
        margin: 20px auto 0;       
    }
}

@media (width <= 499px) {
  .news__title {
    font-size: 40px;
  }

  .news__all-link--bottom {
    margin-top: 0;
  }
}

@media (width <= 360px) {
  .news__slider-button {
    width: 50px;
    height: 50px;
  }

  .news__slider-button--prev {
    left: 5px;
  }

  .news__slider-button--next {
    right: 5px;
  }
}
