.news {
    padding-top: 97px;
    padding-bottom: 85px;
}

.news__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.news__all-link {
    font-weight: 750;
    font-size: 12px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    display: inline-flex;          
    align-items: center;           
    justify-content: center; 
    color: var(--accent-color);
    width: 213px;
    height: 60px;
    border: 2px solid var(--accent-color);
    border-radius: 9px;
}

.news__slider {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.news__article {
    position: relative;
}

.news__slider-button {
    position: absolute;
    display: inline-flex;        
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;        
    opacity: 90%;   
    padding: 0;
    cursor: pointer;
    z-index: 5;
}

.news__slider-button--prev {
    top: 87px;
    left: 21px;
    background-color: #08262b;  
}

.news__slider-button--next {
    top: 87px;
    right: 21px;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%); 
    transform: rotate(180deg);
}