/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.why-us {
    background: url(../../images/brain-background.webp), var(--section-background-color-light);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: bottom right;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden; 
}

.why-us__inner {
    position: relative;
}

.why-us__content {
    position: relative;
    z-index: 2;          
    max-width: 900px;   
}

.why-us__title {
    margin-bottom: 38px;
}

.why-us__list {
    max-width: 680px;
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
}

.why-us__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 21px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
}

.why-us__list-item::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 32px;
    background: url(../../decor/glow-ellipse.png) no-repeat center;
    z-index: 0;
    left: 40px;
    top: -5px;
}

.why-us__list-icon {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
}

.why-us__list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 144%;
}

.why-us__list-icon,
.why-us__list-text {
    z-index: 1;
}

.why-us__button {
    position: relative;
    z-index: 2;    
    display: -webkit-inline-box;    
    display: -ms-inline-flexbox;    
    display: inline-flex;
    margin-top: 24px;
}

.why-us__brain-img-tablet {
    display: none;
}

.why-us__brain-img-mobile {
    display: none;
}

@media (width <= 1200px) {
    .why-us {
        background: var(--section-background-color-light);
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .why-us__content {
        max-width: 100%;
    }

    .why-us__list {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    }

    .why-us__brain-img-tablet {
    display: block;
}

    .why-us__button {
        display: block;
        margin: 32px auto 0;     
    }
}
@media (width <= 576px) {
    .why-us {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .why-us__list {
        margin-bottom: 40px;
    }
}

@media (width <= 360px) {
    .why-us__brain-img-tablet {
    display: none;
}

    .why-us__brain-img-mobile {
    display: block;
}
}



