/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.characteristics__video {
    position: relative;
}

@media (width > 576px) {
    .characteristics__video {
    margin-bottom: 60px;
}
}

@media (width <= 576px) {
    .characteristics__video {
    margin-bottom: 40px;
}
}

.characteristics__video-preview {
    border: 1px solid var(--main-color);
    border-radius: 12px;
    overflow: hidden;
}

.characteristics__video-play-link {
    position: absolute;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #2a2a2980;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    -webkit-box-shadow: var(--shadow-glow), inset var(--shadow-glow);
            box-shadow: var(--shadow-glow), inset var(--shadow-glow);
    -webkit-transition: border-color var(--transition-time), -webkit-box-shadow var(--transition-time);
    transition: border-color var(--transition-time), -webkit-box-shadow var(--transition-time);
    -o-transition: border-color var(--transition-time), box-shadow var(--transition-time);
    transition: border-color var(--transition-time), box-shadow var(--transition-time);
    transition: border-color var(--transition-time), box-shadow var(--transition-time), -webkit-box-shadow var(--transition-time);
}

@media (any-hover: hover) {
    .characteristics__video-play-link:hover {
        border: var(--accent-color);
        -webkit-box-shadow: var(--shadow-accent-glow), inset var(--shadow-accent-glow);
                box-shadow: var(--shadow-accent-glow), inset var(--shadow-accent-glow);
    }
}

@media (width > 576px) {
    .characteristics__video-play-link {
        width: 80px;
        height: 80px;
    }

    .characteristics__video-play-icon {
        width: 17px;
        height: 24px;
        -webkit-transform: translateX(2px);
            -ms-transform: translateX(2px);
                transform: translateX(2px);
    }
}

@media (width <= 576px) {
    .characteristics__video-play-link {
        width: 48px;
        height: 48px;
    }

    .characteristics__video-play-icon {
        width: 10px;
        height: 13px;
        -webkit-transform: translateX(1px);
            -ms-transform: translateX(1px);
                transform: translateX(1px);
    }
}

.characteristics__list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    gap: 40px 20px;
}

.characteristics__card-icon {
    margin-bottom: 4px;
    -webkit-transform: translateX(-8px);
        -ms-transform: translateX(-8px);
            transform: translateX(-8px);
}

@media (width <= 576px) {
    .characteristics__card-icon {
    width: 48px;
    height: 48px;
    }
}

.characteristics__card-title {
    margin-bottom: 20px;
}

.characteristics__card-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: var(--main-color);
}
