/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
}

.menu__link {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 13px;
    line-height: 130%;
    color: var(--main-color);
    -webkit-transition: var(--transition-time);
    -o-transition: var(--transition-time);
    transition: var(--transition-time);
}

@media (any-hover: hover) {
    .menu__link:hover {
    color: var(--accent-color);
}
}
