/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (width > 576px) {
  .modal-buy {
    width: min(800px, 80%);
  }
}

.modal-buy__content {
  max-width: 448px;
  margin: 0 auto;
}

@media (width > 576px) {
  .modal-buy__title {
    margin-bottom: 56px;
  }
}

@media (width <= 576px) {
  .modal-buy__title {
    margin-bottom: 36px;
  }
}

.modal-buy__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-buy__label {
  margin-bottom: 6px;
}

.modal-buy__input {
  display: inline-block;
  width: 100%;
  color: var(--main-color);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--main-color);
  margin-bottom: 10px;
}

@media (width > 576px) {
  .modal-buy__input {
    padding: 20px 24px;
    font-size: 16px;
  }
}

@media (width <= 576px) {
  .modal-buy__input {
    padding: 14px 18px;
    font-size: 14px;
  }
}

.modal-buy__input::-webkit-input-placeholder {
  color: var(--secondary-color);
  text-transform: uppercase;
}

.modal-buy__input::-moz-placeholder {
  color: var(--secondary-color);
  text-transform: uppercase;
}

.modal-buy__input:-ms-input-placeholder {
  color: var(--secondary-color);
  text-transform: uppercase;
}

.modal-buy__input::-ms-input-placeholder {
  color: var(--secondary-color);
  text-transform: uppercase;
}

.modal-buy__input::placeholder {
  color: var(--secondary-color);
  text-transform: uppercase;
}

.modal-buy__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--bg-color);
  border-radius: 4px;
  background-color: var(--accent-color);
  -webkit-transition: -webkit-box-shadow var(--transition-time);
  transition: -webkit-box-shadow var(--transition-time);
  -o-transition: box-shadow var(--transition-time);
  transition: box-shadow var(--transition-time);
  transition: box-shadow var(--transition-time), -webkit-box-shadow var(--transition-time);
  transition: box-shadow var(--transition-time),
    -webkit-box-shadow var(--transition-time);
}

@media (any-hover: hover) {
  .modal-buy__submit:hover {
    -webkit-box-shadow: var(--shadow-accent-glow);
    box-shadow: var(--shadow-accent-glow);
  }
}

@media (width > 576px) {
  .modal-buy__submit {
    margin-top: 56px;
    padding: 20px;
  }
}

@media (width <= 576px) {
  .modal-buy__submit {
    margin-top: 36px;
    padding: 14px;
  }
}
