.hero {
    position: relative;
    padding-top: 80px;
}

.hero::after {
    content: "";
    position: absolute;
    bottom: 106px;
    z-index: -1;
    width: 100%;
    height: 48px;
    background: url(../images/index-decor.svg) repeat-x;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 28px;
}

.hero h1 {
    margin-bottom: 40px;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.hero h1 strong {
    font-weight: 600;
    color: #3596ed;
}

.hero-info .text {
    margin-bottom: 140px;
    max-width: 440px;
}

.hero-images {
    position: relative;
    display: flex;
}

.hero-choose {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 161px;
    padding: 22px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #535755;
    text-align: center;
}

.news-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.news-article {
    display: flex;
    flex-direction: column;
    max-width: 284px;
    background-color: #fff;
    border: 1px solid #d3cbd9;
    overflow: hidden;
}

.news-article img {
    display: block;
}

.news-info {
    padding: 20px 20px 0;
    margin-bottom: 12px;
}

.news-date {
    display: inline-block;
    margin-bottom: 8px;
}

.news-article footer {
    padding: 0 20px 20px;
    margin-top: auto;
}

.news-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #3596ed;
}

.news-link::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 9px;
    background-image: url(../images/arrow-icon.svg);
    transform: transform 0.2s;
}

.news-link:hover::after {
    transform: translateX(5px);
}