* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.form {
    width: 330px;
    border-width: 2px;
    border: 1px #000 solid;
    border-radius: 2%;
    padding-bottom: 15px;
}

.form-content {
    border: none;
    padding-bottom: 0px;
    padding-top: 0px;
}

.title {
    font-size: 16px;
    padding-left: 4px;
    padding-top: 6px;
}

.label {
    display: block;
    padding: 5px;
}

.label input, textarea {
    display: block;
    width: 230px;
    max-width: 230px;
    margin-top: 2px;
    padding: 2px 10px;
}

.textarea {
    max-height: 150px;
    min-height: 30px;
    min-width: 230px;
}

.button {
    display: block;
    cursor: pointer;
    margin-left: 16px;
    margin-top: 5px;
}