* {
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__container {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 1px #afafaf solid;
}

.header__logo-img {
    width: 40px;
    height: 40px;
    background-color: #000;
}

a {
    color: #000;
}

.header__nav-list {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__tel a {
    text-decoration-line: none;
}