/* base */
@import "./base/normalize.css";
@import "./base/fonts.css";
@import "./base/vars.css";
@import "./base/globals.css";

/* blocks */
@import "./blocks/header.css";
@import "./blocks/hero.css";
@import "./blocks/reasons.css";
@import "./blocks/AI.css";
@import "./blocks/importants.css";
