.page {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--main-color);
}

.page__body {
  min-width: 375px;
  background-color: var(--bg-color);
}

.page__body--no-scroll {
  overflow-y: hidden;
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}