.hero { 
    padding-top: 28px;
    padding-bottom: 28px;
}

.hero__inner { 
    padding-left: 56px;
    background: var(--bg-accent-color);
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 588px;
}

.hero__title { 
    font-family: var(--second-family);
    font-size: 58px;
    line-height: 120%;
}

.hero__text { 
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 120%;
}

.hero__link {

}

.hero__img { }