.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.article-title-medium {
  font-size: 36px;
}

.article-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article-mb-1 {
  margin-bottom: 80px;
}

.article-mb-2 {
  margin-bottom: 40px;
}

.article-decor-wrapper {
  position: relative;
}

.article-decor-wrapper-1::before {
  top: 100px;
  left: -350px;
}

.article-decor-wrapper-2::before {
  right: -350px;
  bottom: 136px;
}

.article-img,
.article-video {
  width: 100%;
}

.article-list {
  margin-top: 0;
  padding-left: 0px;
  list-style: none;
}

.article-item::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #3596ed;
  border-radius: 50%;
}

.article-item {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.article-play-button-triangle-wrapper {
  width: 24px;
  height: 24px;
  display: flex;              
  align-items: center;        
  justify-content: center; 
  transform: translateX(3px);
}

.article-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.article-play-button:hover {
  background-color: #3da5ff;
}

.button:not(:disabled):active {
  background-color: #2976ba;
}

@media (width <= 768px) {
  .article-decor-wrapper::before {
    display: none;
  }

  .article-title-medium {
    font-size: 32px;
  }

  .article-mb-1 {
    margin-bottom: 60px;
  }

  .article-title-medium {
    font-size: 32px;
  }
}

@media (width <= 576px) {
  .article {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .article-title-medium {
    font-size: 28px;
  }

  .article-mb-1 {
    margin-bottom: 40px;
  }

  .article-mb-1 {
    margin-bottom: 30px;
  }

  .article-play-button {
    width: 50px;
    height: 50px;
  }

  .article-play-button img {
    width: 18px;
    height: 18px;
  }
}